.table-form {
    width: 80%;
    border-radius: 50px;
    margin: auto auto auto auto;
    background-color: white;
}

form {
    height: 100%;
}

.subject-header {
    font-size: 1.5rem;
}

table {
    width: 85%;
    margin: auto;
    border-collapse: collapse;
}

tr {
    border: solid;
    height: 2vw;
    border-width: 1px 0;    
}

tr.red {
    background-color: #FF7F7F;
}

tr.green {
    background-color: #87CEFA;
}

.submit-div-button {    
    width: 40%;
    height: 3vw;
    margin: 1% auto auto auto;
}

.inbox-page-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% auto auto auto;
}